.*.sw?
.*.kate-swp
node_modules
dist
target/
.metadata/
.yardoc/
/**/.classpath
/**/.project
/**/.directory
.settings/
.classpath
.project
**/liquibase.properties
main.css
.DS_Store
**/SandboxIntegrationTest.java
*.*~
ui/test/reports
Guardfile
Gemfile.lock
jscoverage-report
pdf_temp
liquibase.properties
.pydevproject
.idea
*.iml
*.log
vwd.webinfo
.vagrant/
